.infoDiv {
  width: 44rem;
  height: 33.5rem;
}

.cardTitle {
  position: relative;
}

.cardDescription {
  position: relative;
}

.infoBtn {
  width: 12.125rem;
  height: 3rem;
  position: relative;
}

/* Responsive Styles */
/* Mobile */
@media (max-width: 854px) {
  .infoDiv {
    max-width: 26.72rem;
  }

  .cardTitle {
    padding-top: 12px;
  }

  .cardDescription {
    padding-top: 16px;
  }

  .infoBtn {
    margin-top: 16px;
  }

  .infoBtnLbl {
  }
}

/* Tablet */
@media (min-width: 854px) and (max-width: 1224px) {
  .infoDiv {
    width: 50vw !important;
  }

  .cardTitle {
    padding-top: 24px;
  }

  .cardDescription {
    margin-top: 12px;
  }

  .infoBtn {
    margin-top: 16px;
  }

  .infoBtnLbl {
  }
}

/* Desktop */
@media (max-width: 1500px) {
  .infoDiv {
    width: 35.2rem;
    height: 26.8rem;
  }

  .cardTitle {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0px;
  }

  .cardDescription {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    bottom: 20px;
  }

  .infoBtn {
    width: 9.094rem;
    height: 2.25rem;
    bottom: 42px;
  }

  .infoBtnLbl {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.4px;
  }
}

/* Custom */
@media (min-width: 1500px) and (max-width: 1780px) {
  .infoDiv {
    width: 39.6rem;
    height: 30.15rem;
  }

  .cardTitle {
    font-size: 45px;
    line-height: 52px;
    letter-spacing: 0px;
    padding-bottom: 0px;
  }

  .cardDescription {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    bottom: 8px;
  }

  .infoBtn {
    width: 10.9125rem;
    height: 2.7rem;
    bottom: 32px;
  }

  .infoBtnLbl {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
  }
}
