/* .cardImg {
  width: 25.75rem;
} */

/* .photoBtn {
  width: 12.125rem;
  height: 3rem;
} */

/* Responsivity  */
/* @media (min-width: 1780px) {
  .cardImg {
    width: 25.75rem;
  }
}

@media (min-width: 1536px) and (max-width: 1780px) {
  .cardImg {
    width: 23.175rem;
  }
}

@media (max-width: 1536px) {
  .cardImg {
    width: 20.6rem;
  }
}

@media (max-width: 1280px) {
  .cardImg {
    width: 20.6rem;
  }
} */
