@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;700&family=Roboto:wght@300;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}
